<header class="top-nav">
    <div class="nav-left">
        <img src="images/logo.png" class="logo-img" />
        <span class="brand-text">FinanceFlow</span>
    </div>

    <ul class="nav-links">
        <li><NavLink href="/Anasayfa" Match="NavLinkMatch.All">Anasayfa</NavLink></li>
        <li><NavLink href="/GelirGider">Gelir-Gider</NavLink></li>
        <li><NavLink href="/Raporlar">Raporlar</NavLink></li>
        <li><NavLink href="/AIRapor">Advisora</NavLink></li>
        <li><NavLink href="/Topluluk">Topluluk</NavLink></li>
        <li><NavLink href="/Profil">Profil</NavLink></li>
        <li><NavLink href="/Çıkış" class="logout">Çıkış</NavLink></li>
    </ul>
</header>
